body {
	color: #000;
	font-size: 15px;
	font-family: "游ゴシック", YuGothic, "メイリオ", Meiryo, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", sans-serif;
	font-weight: 500;
	line-height: 1.8;
	text-align: center;
	background-color: LavenderBlush;
	width: 100%;
	min-width: 960px;
	margin: 0 auto;
	border-bottom: solid 10px #fff;
}

p.img1 img {
    width: 600px;  
}

nav{
  width: 500px;
  background-color: greenyellow;
}
ul{
  text-align: center;
}
li{
  display: inline-block;
  list-style: none;
  background-color: LavenderBlush;
}
li:not(.list1){
  margin-left: 20px;
}

h1{
    color:　Gray;
    font-size: 50px;
    font-family: "impact";
}
footer.foot{
    color:white;
}
footer {
    background: rgba(170, 170, 170, 0.3);
}
