p.img1 img {
    width: 600px;  
}

nav{
  width: 500px;
  background-color: LavenderBlush;
}
ul{
 display: flex;
}
li{
  list-style: none;
  margin-left: 20px;
}
body {
    background: LavenderBlush;
    text-align: center;
}

h1{
    color:　rgb(150, 150, 150);
    font-size: 50px;
    font-family: "impact";
}
foot{
    color:white;
}
footer {
    background: rgba(170, 170, 170, 0.3);
}
