body.body_edit{
   background-color: #e4d2d8;
   text-align: center;
}

p.img1 img {
    width: 600px;  
}


.banner img{
    width: 450px;  
}

nav{
  width: 500px;
  background-color: #e4d2d8;
}
ul{
  text-align: center;
}
li{
  display: inline-block;
  list-style: none;
  background-color: #e4d2d8;
}
li:not(.list1){
  margin-left: 20px;
}


h1{
    color:　Gray;
    font-size: 50px;
    font-family: "impact";
}


footer.foot{
    color:white;
}


footer {
    background: rgba(170, 170, 170, 0.3);
}
