p.img1 img {
    width: 600px;  
}
ul {
  list-style: none;
}

body {
    background: LavenderBlush;
    -align: center;
}

h1{
    color:ã€€rgb(150,150,150);
    font-size: 70px;
    font-family: "impact";
}
