
header {
  height: 115px;
  width: 100%;
  padding: 3px 0;
  background-color: #9e8b8e !important;
  color: Black;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #f4b3c2;
}

.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 4% 0% 4%;
  background-color: 95859c;
}

.nav-list {
  padding: 0;
}

.title1 {
    font-size: 50px !important;
    font-family: "impact" !important;
    margin: 10px 0px 12px 0px;
}

.about-main{
  text-align: left;
  margin:3% 15% 4% 15%;
}

.about-date{
  text-align: right;
  margin:0% 15% 4% 15%;
}

.Pha img{
  width:12%;
  margin: 0% 15% 0% ;
}

.Pha {
  text-align: left;
}

figure{
  text-align:right;
}

footer.foot {
    color:white;
}


nav {
  width: 500px;
  background-color: #e4d2d8;
}

ul {
  text-align: center;
}

li {
  display: inline-block;
  list-style: none;
  background-color: 95859c;
}

li:not(.list1) {
  margin-left: 20px;
}

footer{
    width: 100%;
    height: 100px;
    background-color: #9e8b8e !important;
    color: Black;
}

.footer-menu {
  width: 100%;
  display: inline-block;
  list-style: none;
  background-color:　95859c;
  text-align: center;
  padding: 0rem;
}

.footer-menu li{
  margin:0% 7%;
}

.footer-last{
  text-align: right;
  margin-top:10px;
  margin-bottom: 0.2%;
  margin-right: 1.5%; 
}

.footer-last a {
 　 font-weight: bold;
   text-decoration:underline;
}


body {
   background-color: #e4d2d8;
   text-align: center;
}

figcaption{
  font:10px;
}

.hidarizoroe{
  text-align: left;
}

.img-60 img {
  width:20%;
}

.mannnaka {
  text-align: left;
  margin:0% 10% 0% 30%; 
}

.bold {
   font-weight: bold;
}

.small-70 {
  font-size: 0.7rem;
}

.feather-side {
  text-align: left;
}
