.side {
  background-color:#e9dfe5;
  width:15%;
  text-align:left;
  padding:2% 1% 1% 1%;
} 

.content {
  background-color:#e4d2d8;
  width:85%;
  text-align:left;
  padding:5%;
  margin-left:0px;
}

article {
  display:flex;
}

.side ul {
  padding:0%;
}    
