header {
  position: fixed;
}
  
.side {
  background-color:#e9dfe5;
  width:15%;
  height:100%;
  text-align:left;
  padding:2% 1% 1% 1%;
  position: fixed;
  margin-top: 115px;
} 

.side-scroll {
  overflow-y: scroll;
  background-color:#e9dfe5;
  width:15%;
  height:100%;
  text-align:left;
  padding:2% 1% 1% 1%;
  position: fixed;
  margin-top: 115px;
} 

.content {
  background-color:#e4d2d8;
  width:85%;
  text-align:left;
  padding:5%;
  margin-left:15%;
  margin-top: 115px;
}

article {
  display:flex;
}

.side ul {
  padding:0%;
}    

.Thrushes-img　{
  text-align: left;
  margin-bottom: 0%;
}

.image-row {
  display: flex;
  text-align: left;
  margin: 0px !important;
  justify-content: space-around;
}

.Thrushes-img img {
 　 　　　min-width :300px;
    width: 30%;  
    text-align: left;
}

figure {
  textalign: left;
}

figure img{
    min-width :300px !important;
    width: 30% !important;  
}

figcaption{
  font-size: 12px;
  display: block !important;
  text-align: left;
}

p.image-left{
  text-align: left;
  min-width :300px !important;
  width: 30% !important;  
}

li{
  margin:0px 0px 0px 15px;
}
